@media only screen and (max-width: 600px) {
    .barrier {
        display: none;
    }
}





.register_elements{
    color: #00d2eb!important;

}

.register_elements li{
    padding-top: 30px;

}

.register_elements label{
    margin-right: 20px;
}

input::placeholder {
    font-weight: lighter;
    color: #00d2eb;
    font-size: 1.1em;
    text-align: center;
}
.register_elements input {
    border-radius: 20px;
    width: 300px;
    height: 45px;
    text-align: center;
    font-weight: bold;
    border: 2px solid black;


}

.register_box{
    align-items: center;
    height: 500px;
}

.submit_button{
    width: 120px!important;
    border-radius: 5px;
    background-color: #00d2eb!important;
    color: white!important;
    border: 2px solid black;
}