.footer_top{
    width: 100%;
    position: relative!important;

}

.shadow{
    background-color: black;
    opacity: .75;

}

.contact_infos{
    justify-content: center;
    height: 100vh;
    align-items: center;


}

.contact_info{
    color: white!important;
    opacity: 1;

}




.footer_bottom{
    background-color: #00d2eb!important;
}


.working_time{
    background-color: rgba(0,210,235,.5) !important;
    font-weight: bold;

}