.psycho_more{
 border: 0 ;
 font-size: 24px;
 border-radius: 5px;
 padding: 5px 15px;
 background-color: #00d2eb;
 color: #fff !important;
}

.b_cards{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #e8fcff;
}

.psychologistCards{

    background-color: #e8fcff;

}

