.dr_slider {
   width: 100%;


}



.slick-slider{
    height: 720px;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
}

@media only screen and (max-width: 600px) {
    .slider_image  img  {
       height: 50%!important;
    }
}

@media only screen and (max-width: 600px) {
    .slick-slider  {
        height: 50%!important;
    }
}


.slick-arrow{
display: none!important;
}

.slider_image img{
    width: 100%;
    height: 100vh;

}

.slick-dots{
width: 100%;
}


.slick-list {
    width: 100%;
    height: 100%;



}

.slick-list img {


}