.psycho_details{
}
body{
    margin-top:20px;

}
.panel-default {

    background-color: #ace2ff;


}

.panel-top{
    margin-top: 30px;
}

.panel {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);


}
.thumb96 {
    margin-top: 10px;
    width: 110px!important;
    height: 110px!important;
}


.psycho_info{
background-color: #ace2ff;
box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;

}

.buy_btn{
    background-color: #00d2eb!important;
}

.panel-body{

     box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
}

.psycho_border{
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px, rgb(51, 51, 51) 0 0 0 3px;
}